.main-header{
    height: 50%;
    width: 100%;
    padding: 20px;
    background-color: aqua;
    ul{
        list-style:none;
        li{
            display: inline;
            padding: 10px;
            color: blue;
            text-transform: uppercase;
        }
    }
}



