.friend-list-container{
    float: left;
    position: relative;
    height: 100%;
    width: 40%;
    background-color: blue;
    .friend-list-setting{
        height: 20%;
        width: 100%;
        text-align: center;
        
    }
    .friend-list-search{
        height: 20%;
        width: 100%;
        .search{
            // background-color: #ffe6e6;
            // background-image: url('searchicon.png');
            // background-position: 10px 10px;
            // margin: auto;
            // border: 0.5px solid black;
            // border-radius: 50%;
            // width: 80%;
            // height: 50%;
            // transition: width 0.4s ease-in-out;
            // sử dụng khi mún rút ngắn lại khi không sử dụng
            // input[type=text]:focus {
            //     width: 100%;
            //   }
            .search-text{
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 10px;
                font-size: 16px;
                background-color: white;
                background-image: url('searchicon.png');
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
            }
        }
    }
    .friend-list{
        width: 100%;
        height: 60%;
    }
}