.friend-list-container{
    float: left;
    position: relative;
    margin-top: 5%;
    margin-left: 2%;
    height: 80%;
    width: 40%;
    background-color: white;
    border-radius: 15px;
    .friend-list-setting{
        height: 8%;
        width: 90%;
        text-align: center;
        margin: auto;
        background-color: #ccc;
        // border: 0.2px solid black;
        border-radius: 15px;
        margin-top: 2%;
        margin-bottom: 2%;
        line-height: 40px;
        p{
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
            color: blueviolet;
        }
    }
    .friend-list-search{
        height: 6%;
        width: 85%;
        margin: auto;
        padding: 1%; 
        background-color: white;
        border: 0.5px solid black;
        border-radius: 15px;
        .icon-search{
            float: left;
            height: 85%;
            width: 7%;
            border:1px solid black;
            margin-left: 1%;
        }
        .search-text{
            float: right;
            width: 90%;
            height: 85%;
            border: none;
            // border-radius: 15px;
            // border-left: 1px solid black;

            // box-sizing: border-box;
            // border: 2px solid #ccc;
            // border-radius: 10px;
            // font-size: 16px;
            // background-color: white;
            // // background-image: url('searchicon.png');
            // background-position: 10px 10px; 
            // background-repeat: no-repeat;
            // padding: 12px 20px 12px 40px;
        }
    }
    .friend-list{
        width: 90%;
        height: 75%;
        margin: auto;
        margin-top: 2%;
        border-radius: 15px;
        background-color: #ccffff;
    }
}