.message-list{
    .message-item{
        width: 95%;
        position: relative;
        padding: 5px 8px 5px 8px;
        margin-top: 5px;
        // margin-bottom: 1px;
        margin-right: 0px;
        float: left;
        border: 0.5px solid #a2a2a2;
        border-radius: 15px;
        background-color: #ffe6ff;
        // &:last-child{
        //     // border-bottom: 0; 
        // }
        .message-item-avatar {
            float: left;
            &.fr{
                float: right;
                margin-right: 20px;
            }
            width: 6%;
            .avatar-img{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background: blue;
                color: #fff;
                line-height: 40px;
                text-transform: uppercase;
                text-align: center;
                
            }
        }

        .message-item-content{
            // float: left;
            width: 90%;
            &.fr{
                width: 86%;
            }
            text-align: left;
            // padding-left: 20px;
            margin-top: 20px;
            color: #000;
            font-weight: bolder;
            .created{
                font-size: 12px;
                color: #e7e7e7;
                // .time{
                //     color: #e7e7e7;
                // }
            }
        }
    }
}