.message-list-container {
    height: 100%;
    text-align: left;
    margin: auto;
    // width: 90%;
    border-radius: 15px;
    position: relative;
    background: white;
    
    .message-list {
        list-style: none;
        // position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 95%;
        // width: 100%;
        height: 100%;
        // border-radius: 15px;
        padding: 10px;
        
        // border-radius: 5px;
    }    
}