.message-list-container {
    height: 300px;
    text-align: left;
    margin: auto;
    width: 80%;
    border-radius: 0px;
    position: relative;
    background: #fff;
    .message-list {
        list-style: none;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 300px;
        
    }    
}